/*https://www.youtube.com/watch?v=obh47qO3OxM*/


.border{
  margin: auto;
  width: 1112px;
  height: 572px;
  position: relative;
  box-shadow: 0 20px 35px rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: #1c1b29;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 16px;
}
.border::before{
  content: "";
  background-image: conic-gradient(
      #04b0ee 20deg,
      transparent 120deg
  );
  height: 200rem;
  width: 200rem;
  position: absolute;
  animation: rotate 2s infinite linear;
  z-index: -1;
}
@keyframes rotate{
  100%{
      transform: rotate(-360deg);
  }
}